body {
  font-family: libre baskerville, serif;
  line-height: 1.8;
  font-size: 16px;
  background: url(../images/background.webp), #f6f2ec;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  padding: 1;
}
a.fixed {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 60px;
}
a {
  color: #5e8fbb;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #2c4468 !important;
}
a:active,
a:focus {
  outline: none;
}

p,
ul,
ol {
  margin-bottom: 1.5em;
  font-size: 15px;
  color: #5c5c5c;
  font-family: libre baskerville, Arial, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: libre baskerville, Arial, serif;
  font-weight: 400;
  margin: 0 0 20px;
}
#fh5co-header {
  padding-top: 40px;
  margin-bottom: 30px;
}
#fh5co-header nav {
  padding-top: 0px;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav ul li {
  margin: 0;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  font-size: 15px;
  top: 50%;
  padding: 10px;
}
#fh5co-header nav ul li a {
  color: #5c5c5c !important;
  padding: 10px;
}
.fh5co-projects-feed,
.footer-content {
  margin: 0 auto;
  max-width: 1320px;
}
#fh5co-footer {
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
  position: fixed;
  bottom: 0px;
}
#fh5co-footer a {
  color: #5c5c5c;
}
@media (max-width: 468px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    height: 100%;
    background: url(../images/longbackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 150px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}
@media (min-width: 469px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    height: 100%;
    background: url(../images/longbackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}
@media (min-width: 654px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    height: 100%;
    background: url(../images/squarebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 90px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}

@media (min-width: 1200px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    height: 100%;
    background: url(../images/widebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}
