a.fixed {
  position: fixed;
  right: 0;
  top: 0;
  max-width: 60px;
}

a {
  color: #5e8fbb;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #5e8fbb !important;
}

.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 95%;
  padding-bottom: 70px;
}
.page-content img {
  max-width: 95%;
}
.page-content .mb0 {
  margin-bottom: 0;
}
.page-content .meta {
  margin-bottom: 20px;
}
.page-content .meta span {
  color: #5c5c5c;
}




#fh5co-footer {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #494949;
  position: absolute;
}



::-webkit-selection {
  color: #fcfcfc;
  background: #5e8fbb;
}
::-moz-selection {
  color: #fcfcfc;
  background: #5e8fbb;
}


@media screen and (max-width: 480px) {
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
