a {
  color: #5e8fbb;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  text-decoration: none !important;
  color: #5e8fbb !important;
}









#special {
  display: block;
}

#special2 {
  display: none;
}

@media (max-width: 1020px) {
  #special {
    display: none;
  }

  #special2 {
    display: block;
  }
}





div#fh5co-projects-feed {
  text-align: center;
}

.fh5co-projects-feed,
.footer-content {
  margin: 0 auto;
  max-width: 1320px;
}

.fh5co-projects-feed .fh5co-project {
  display: inline-block;
  margin: 20px 20px 20px;
  width: 290px;
}

@media screen and (max-width: 480px) {
  .fh5co-projects-feed .fh5co-project {
    margin: 10px 10px 10px;
  }
}

.fh5co-projects-feed .fh5co-project > a {
  display: block;
  text-align: center;
}

.fh5co-projects-feed .fh5co-project > a img {
  pointer-events: none;
  max-width: 100%;
  width: 100%;
  padding: 7px;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  transition-property: left, right, top;
}

.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 95%;
  padding-bottom: 70px;
}

.page-content2 {
  margin: 0 auto;
  max-width: 700px;
  width: 95%;
  padding-top: 30px;
  padding-bottom: 70px;
}

.page-content img {
  max-width: 95%;
}

@media screen and (max-width: 768px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.square {
  list-style: square;
}

.pt70 {
  padding-top: 70px;
}

@media screen and (max-width: 480px) {
  .pt70 {
    padding-top: 30px;
  }
}

.pb70 {
  padding-bottom: 70px;
}

@media screen and (max-width: 480px) {
  .pb70 {
    padding-bottom: 30px;
  }

  #fh5co-projects-feed {
    text-align: center;
  }

  .fh5co-projects-feed .fh5co-project > a img {
    pointer-events: none;
    max-width: 100%;
    width: 100%;
    padding: 7px;
  }
}

@media (max-width: 480px) {
  .masonry .masonry-brick {
    position: static !important;
  }
  .fh5co-projects-feed .fh5co-project > a img {
    margin-bottom: 0px;
  }
}

@media (max-width: 1370px) {
  #fh5co-projects-feed {
    max-width: 990px !important;
    margin: auto;
  }
}

@media (max-width: 1349px) {
  #fh5co-projects-feed {
    max-width: 990px !important;
    margin: auto;
  }
}

@media (max-width: 1019px) {
  #fh5co-projects-feed div {
    position: unset !important;
  }
}

}
