a.fixed {
  position: fixed;
  right: 0;
  top: 0;
  max-width: 60px;
}

body {
  font-family: "Libre Baskerville", serif;
  line-height: 1.8;
  font-size: 16px;
  background: url(/images/background.webp), #f6f2ec;
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  color: #5e8fbb;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #5e8fbb !important;
}

#fh5co-logo a {
  padding-top: 25px;
  padding-bottom: 40px;
}
#fh5co-header {
  padding-top: 25px;
  margin-bottom: 30px;
}
#fh5co-header #fh5co-logo img {
  max-width: 125px;
  pointer-events: none;
}

#fh5co-header nav {
  padding-top: 20px;
  text-align: center;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  padding: 10px;
}
#fh5co-header nav ul li a {
  color: #5c5c5c !important;
  padding: 10px;
}
#fh5co-header nav ul li a:hover,
#fh5co-header nav ul li a:active,
#fh5co-header nav ul li a:focus {
  color: #000 !important;
  text-decoration: none;
  outline: none;
}
#fh5co-header nav ul li.active a {
  text-decoration: underline !important;
  color: black !important;
}

#fh5co-header nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 90%;
  width: max-content;
}
#fh5co-header nav ul li .dropdown-menu li {
  display: block;
}
#fh5co-header nav ul li .dropdown-menu li a {
  padding: 10px 20px;
  white-space: nowrap;
  color: #5c5c5c !important;
}
#fh5co-header nav ul li:hover .dropdown-menu {
  display: block;
}

.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 95%;
  padding-bottom: 70px;
}
.page-content img {
  max-width: 95%;
}
.page-content .mb0 {
  margin-bottom: 0;
}
.page-content .meta {
  margin-bottom: 20px;
}
.page-content .meta span {
  color: #5c5c5c;
}




#fh5co-footer {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #494949;
  position: absolute;
}
#fh5co-footer a {
  color: #5c5c5c;
}
#fh5co-footer a:hover,
#fh5co-footer a:active,
#fh5co-footer a:focus {
  color: #000 !important;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #5e8fbb;
}
::-moz-selection {
  color: #fcfcfc;
  background: #5e8fbb;
}

@media screen and (max-width: 480px) {
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  #fh5co-header nav ul {
    text-align: center;
    display: inline-block;
  }
  #fh5co-header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  #fh5co-header nav ul li .dropdown-menu {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
