body {
  font-family: "Libre Baskerville", serif;
  line-height: 1.8;
  font-size: 16px;
  background: url(/images/background.webp), #f6f2ec;
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  margin: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: "Libre Baskerville", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

p,
ul,
ol {
  margin-bottom: 1.5em;
  font-size: 15px;
  color: #5c5c5c;
  font-family: "Libre Baskerville", Arial, serif;
}

::selection {
  color: #fcfcfc;
  background: #5e8fbb;
}

a:active,
a:focus {
  outline: none;
}


/* header */

#fh5co-logo a {
  padding-top: 25px;
  padding-bottom: 40px;
}

#fh5co-footer a {
  color: #5c5c5c;
}

#fh5co-footer a:hover,
#fh5co-footer a:active,
#fh5co-footer a:focus {
  color: #000 !important;
}

#fh5co-header #fh5co-logo img {
  max-width: 125px;
  pointer-events: none;
}

#fh5co-header nav ul li .dropdown-menu li a {
  padding: 10px 20px;
  white-space: nowrap;
  color: #5c5c5c !important;
}

#fh5co-header nav ul li .dropdown-menu li {
  display: block;
}

#fh5co-header nav ul li a {
  color: #5c5c5c !important;
  padding: 10px;
}

#fh5co-header nav ul li.active a {
  text-decoration: underline !important;
  color: black !important;
}

#fh5co-header nav ul li:hover .dropdown-menu {
  display: block;
}

#fh5co-header {
  padding-top: 25px;
  margin-bottom: 30px;
}

#fh5co-header nav {
  padding-top: 20px;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  font-size: 15px;
  top: 50%;
  margin: 0;
}

@media screen and (max-width: 480px) {
  #fh5co-header nav ul li a {
    padding: 5px;
    margin: 0 10px;
  }
}
#fh5co-header nav ul li a:hover,
#fh5co-header nav ul li a:active,
#fh5co-header nav ul li a:focus {
  color: #000 !important;
  text-decoration: none;
  outline: none;
}

#fh5co-header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#fh5co-header nav ul li {
  position: relative;
}

#fh5co-header nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: #5c5c5c !important;
}

#fh5co-header nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 1000;
  opacity: 90%;
}

  /* footer */
#fh5co-footer {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #494949;
  position: absolute;
}
.page-fade{opacity:0;transition:opacity 0.5s ease-in-out;}
body.page-loaded .page-fade{opacity:1;}
