body {
  font-family: libre baskerville, serif;
  line-height: 1.8;
  font-size: 16px;
  background: url(../images/background.webp), #f6f2ec;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}

a.fixed {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 60px;
}

a {
  color: #5e8fbb;
  transition: 0.5s;
}

a:hover {
  text-decoration: none !important;
  color: #2c4468 !important;
}

a:active,
a:focus {
  outline: none;
}

p,
ul,
ol {
  margin-bottom: 1.5em;
  font-size: 15px;
  color: #5c5c5c;
  font-family: libre baskerville, Arial, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: libre baskerville, Arial, serif;
  font-weight: 400;
  margin: 0 0 20px;
}

#fh5co-header {
  padding-top: 25px;
  margin-bottom: 30px;
}

#fh5co-header nav {
  padding-top: 0px;
  text-align: center;
}

#fh5co-header nav ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

#fh5co-header nav ul li {
  margin: 0;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  position: relative;
}

#fh5co-header nav ul li a {
  color: #5c5c5c !important;
  padding: 10px;
  text-decoration: none;
}

.fh5co-projects-feed,
.footer-content {
  margin: 0 auto;
  max-width: 1320px;
}

#fh5co-footer {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #494949;
  position: fixed;
  bottom: 0;
  background-color: #f6f2ec;
  opacity: 75%;
}

#fh5co-footer a {
  color: #5c5c5c;
}

#fh5co-header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#fh5co-header nav ul li {
  position: relative;
}

#fh5co-header nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: #5c5c5c !important;
}

#fh5co-header nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 1000;
  opacity: 90%;
}

#fh5co-header nav ul li .dropdown-menu li {
  display: block;
}

#fh5co-header nav ul li .dropdown-menu li a {
  padding: 10px 20px;
  white-space: nowrap;
  color: #5c5c5c !important;
}

#fh5co-header nav ul li:hover .dropdown-menu {
  display: block;
}
@media screen and (max-width: 480px) {
  #fh5co-header nav ul li a {
    padding: 10px;
    margin: 0 10px;
  }
}
@media (max-width: 468px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/longbackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 190px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}

@media (min-width: 469px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/longbackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 125px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}

@media (min-width: 654px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/squarebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 120px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}

@media (min-width: 1240px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/widebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-family: libre baskerville, Arial, serif;
    font-weight: 400;
    margin: 0px 0 0px;
  }
}

@media (min-width: 1550px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/widebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }
}

@media (min-width: 2000px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/widebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20px;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }
}

@media (min-width: 2500px) {
  body {
    font-family: libre baskerville, serif;
    line-height: 1.8;
    font-size: 16px;
    background: url(../images/widebackground.webp), #f4efe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1;
  }
}

.page-fade{opacity:0;transition:opacity 0.5s ease-in-out;}
body.page-loaded .page-fade{opacity:1;}
